.movies {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media screen and (max-width: 1500px){
  .movies {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px){
  .movies {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px){
  .movies {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px){
  .movies {
      grid-template-columns: 1fr;
  }
}