:root {
  --theme-color: rgb(255, 221, 1);
  --light-grey: rgb(199, 199, 199);
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  background: rgb(255,255,255);
  font-size: 14px;
  margin: 0;
  padding: 0;
}